@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
  }

  body {
    overscroll-behavior: none;
  }

  main > :first-child {
    margin-top: 0 !important;
  }

  main > :last-child {
    margin-bottom: 0 !important;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  body {
    background-color: #fcf9f8;
    font-family: "Geist", sans-serif;
    color: #1c1b1b;
  }
}

.paper-texture {
  background-image: url("https://www.transparenttextures.com/patterns/felt.png");
}

.writing-mode-vertical-rl {
  writing-mode: vertical-rl;
}